{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h4>Please specify your email address to receive instructions for resetting it.</h4>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors}}
    <p><label form ="id_email">E-mail address:</label> {{ form.email }} <input type="submit" class="save btn btn-primary" value="Reset password" /></p>
</form>
{% endblock %}